/*================================
=            Variable            =
================================*/

$primary :       #002e6d; //
$secondary :     #00a0df; //
$third       :   #fff; //

$black       :   #003946;
$dark-gray   :   #4F7780; //
$middle-gray :   #6996A0; //
$light-gray  :   #A3BCC2; //

$action-color:      $secondary;

$error : #ff9015;
$success : #19d3c5;

$border_1:  1px solid $primary;
$border_2:  2px solid $primary;
$border_3:  3px solid $primary;

$base-duration:     0.3s;
$base-timing:       0.3s;

/*----------  Header  ----------*/
$headerHeight: 3.5rem;
$headerHeightMobile: 3rem;

/*----------  Form  ----------*/
$inputBlockWidth: 30%;
$inputHeight: 3rem;
$inputHeightMobile: 2rem;
$buttonHeight: 4rem;
$buttonSubmitHeight: 5rem;
$buttonSubmitHeightMobile: 4rem;

/*=====  End of Variable  ======*/


/*=============================
=            Media            =
=============================*/

$neat-grid: (
    columns: 4,
    gutter: 2rem
);

$imac27 : 2560px;
$imac21 : 1920px;
$cinema : 1680px;
$pad_g  : 1024px;
$pad_v  : 768px;
$mobile : 420px;

$XXLarge: (
    media: "(min-width: #{$imac21})"
);

$XLarge: (
    media: "(min-width: #{$cinema}) and (max-width: #{$imac21})"
);

$Large: (
    media: "(min-width: #{$pad_g}) and (max-width: #{$cinema})"
);

$Medium: (
    media: "(max-width: #{$pad_g})"
);

$XSmall: (
    media: "(max-width: #{$pad_v})"
);

$Small: (
    media: "(max-width: #{$mobile})"
);

$HSmall: (
    media: "(max-height: #{$mobile})"
);

/*=====  End of Media  ======*/


/*=============================
=            Fonts            =
=============================*/

@include font-face (
    "fontawesome-webfont",
    "fonts/fontawesome-webfont/fontawesome-webfont",
    ("eot", "woff", "ttf", "svg")
    ) {
    font-style: normal;
    font-weight: 400;
}

@include font-face (
    "PF DinText Pro",
    "fonts/PFDinTextPro-Regular/PFDinTextPro-Regular",
    ("eot", "woff", "ttf", "svg")
    ) {
    font-style: normal;
    font-weight: 400;
}

@include font-face (
    "si",
    "fonts/socicon/socicon",
    ("eot", "woff", "ttf", "svg")) {
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=PT+Mono&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Pattaya&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Russo+One&subset=cyrillic');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$primary-font: $font-stack-verdana;
$heading-font:          'Russo One',sans-serif;
$heading-font-light:    'Pattaya', sans-serif;

$body-font-color:   $third;

$body-font-size:        1rem !default;
$body-font-weight:      normal !default;
$body-line-height:      1.4 !default;
$heading-line-height:   1 !default;

$font-size-base:    $body-font-size !default;
$font-size-large:   $font-size-base + 0.2 !default; // ~18px
$font-size-small:   $font-size-base - 0.2 !default; // ~14px

$font-size-h1:      4vw !default; // ~3rem 48px modular-scale(6)
$font-size-h2:      4vw !default; // ~2.5rem 40px modular-scale(5)

$bourbon: (
    "modular-scale-base": $font-size-h2,
    "modular-scale-ratio": $minor-third,
);

$font-size-h3:      modular-scale(4) !default; // ~2rem 33px
$font-size-h4:      modular-scale(3) !default; // ~1.728rem 28px
$font-size-h5:      modular-scale(2) !default; // ~1.44rem 23px
$font-size-h6:      modular-scale(1) !default; // ~1.2rem 19px

%px {
    font: {
        family: $primary-font;
        weight: $body-font-weight;
        size: $font-size-base;
    };
    line-height: $body-line-height;
    color: $body-font-color;
    //text-indent: 1rem;

    // @include grid-media($XXLarge) {
    //     font-size: modular-scale(3);
    // }

    // @include grid-media($XLarge) {
    //     font-size: $font-size-large;
    // }

    // @include grid-media($Medium) {
    //     font-size: $font-size-large;
    // }

    // @include grid-media($XSmall) {
    //     font-size: $font-size-large;
    // }

    // @include grid-media($Small) {
    //     font-size: $font-size-large;
    // }
}

%hx {
    font: {
        family: $heading-font;
        weight: 400;
    };
    //letter-spacing: 0.04em;
    // text-transform: uppercase;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
/*=====  End of Fonts  ======*/

body {
    @extend %px;
    margin: 0;
    // @extend %scrollbar_body;
}

h1 {
    @extend %hx;
    font-size: $font-size-h1;
    //margin-bottom: 1em;
    //text-align: center;
    //transition: all .3s;
}

h2 {
    @extend %hx;
    font-size: $font-size-h2;
    line-height: $heading-line-height;
    color: $third;
    text-transform: uppercase;
    margin: 0;

    @media (max-width: $mobile) {
        font-size: $font-size-h2 + 1;
    }
}

h3 {
    @extend %hx;
    font-family: $heading-font-light;
    font-size: $font-size-h3;
    line-height: $heading-line-height - 0.3;
    color: $primary;
    margin: 0;

    @media (max-width: $mobile) {
        font-size: $font-size-h3 + 6;
        line-height: $heading-line-height - 0.2;
    }
}

h4 {
    @extend %hx;
    font-size: $font-size-h4;
}

h5 {
    @extend %hx;
    font-size: $font-size-h5;
}

h6 {
    @extend %hx;
    font-size: $font-size-h6;
}

.large-text {
    font-size: $font-size-large;
}

.small-text {
    font-size: $font-size-small;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;

    // li {

    //     @include grid-media($Medium) {
    //         font-size: $font-size-large;
    //     }
    // }
}

a {
    color: $primary;
    text-decoration: none;
    transition: color $base-duration;
    outline: none;

    // &:active,
    // &:focus,
    // &:hover {
    //     //color: $action-color;
    // }
}

svg {
    transition: all 0.3s;
}
/*=====  End of Layout  ======*/

