/*==================================
=            Contact Form          =
===================================*/

.form-modal {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: radial-gradient(circle farthest-side, $secondary 0%, #0082ca 100%);
    top: 0;
    left: 0;
    // transform: translate(-50%, -50%);
    // opacity: 0;
    z-index: -1;

    &__close {
        width: 3rem;
        height: 3rem;
        display: block;
        border: 0.15rem solid $third;
        border-radius: 50%;
        position: fixed;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;

        &:before,
        &:after {
            content: "";
            width: 2rem;
            height: 0.15rem;
            display: block;
            position: absolute;
            background-color: $third;
            top: 50%;
            left: 50%;
            transition: all 0.3s;
        }

        &:before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &:after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:hover {

            &:before {
                transform: translate(-50%, -50%) rotate(315deg);
            }

            &:after {
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }
    }

    @media (max-width: $mobile) {
        width: calc(100% - 2rem);
        padding: 0 1rem;

        &__close {
            width: 2rem;
            height: 2rem;
            top: 1rem;

            &:before,
            &:after {
                width: 1.5rem;
            }
        }
    }
}

.ajax-form {
	width: $inputBlockWidth;
	margin: 0;
	//margin: 30px 20% 150px 20%;
	float: left;

	&__input {

		&-block {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &-half {
            width: calc(50% - 1rem);

            // &:first-child {
            //     margin-right: 0;
            // }
        }
    }

    input[type='text'],
    input[type='email'],
    input[type='date'],
    input[type='number'],
    select {
        width: calc(100% - 2rem);
        height: $inputHeight - 0.5;
        outline: none;
        padding: 0 1rem;
        margin-bottom: 1rem;
        font-family: $primary-font;
        font-size: $font-size-base;
        text-align: center;
        border: 0.15rem solid $third;
        border-top-left-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
        background-color: transparent;
        transition: all 0.3s;

        &:focus {
            background-color: rgba($third, 0.5);
        }

        &:focus::-webkit-input-placeholder {
            opacity: 0;
            transition: all 0.3s;
        }

        &:focus::-moz-placeholder {
            opacity: 0;
            transition: all 0.3s;
        }

        &:focus::-ms-input-placeholder {
            opacity: 0;
            transition: all 0.3s;
        }

        &::-webkit-input-placeholder {
            /* WebKit browsers */
            color: $primary;
        }

        &::-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: $primary;
            opacity: 1;
        }

        &::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: $primary;
            opacity: 1;
        }

        &::-ms-input-placeholder {
            /* Internet Explorer 10+ */
            color: $primary;
        }
    }

	&__button {
        width: 100%;
        display: flex;
		justify-content: center;
        position: relative;
        margin-top: 1rem;

		.submit-form {
            width: $buttonSubmitHeight;
            height: $buttonSubmitHeight;
            display: flex;
            align-items: center;
            justify-content: center;
            background: transparent;
            border: 0.15rem solid $third;
            border-radius: 50%;
			text-align: center;
			color: $third;
			font-size: $font-size-base;
			line-height: $font-size-base;
			text-transform: uppercase;
			text-decoration: none;
			outline: none;
			transition: all 0.3s;
			cursor: pointer;

			&:hover {
				background: $primary;
				color: $primary;
				//height: 46px;
				padding: 0.7rem 0.7rem;
				//-webkit-transform: translateY(-3px);
				//transform: translateY(-3px);

				svg {
                    transform: translateY(-30%) scale(1.2);

                    // #planeBody,
                    // #planeIlluminator {
                    //     stroke: $primary;
                    // }

                    #planeEngine {
                        fill: $primary;
                    }
                }
			}
        }

        svg {
            width: 13rem;
            height: auto;
            position: absolute;
            transition: all 0.3s;
            transform: translateY(-10%) scale(1);

            #planeBody {
                fill: $third;
                stroke: $secondary;
                stroke-width: 0.7;
            }

            #planeIlluminator {
                fill: $secondary;
            }

            #planeEngine {
                fill: $secondary;
            }
        }
    }

	&__agreement {
		width: 100%;
		min-height: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: $font-size-small;
        text-align: center;
    }

    @media (max-width: $mobile) {
        width: 100%;
        margin-top: 3rem;

        &__button {
            margin-top: 0;

            .submit-form {
                width: $buttonSubmitHeightMobile;
                height: $buttonSubmitHeightMobile;
            }

            svg {
                width: 10rem;
            }
        }

        input[type='text'],
        input[type='email'],
        input[type='date'],
        input[type='number'],
        select {
            height: $inputHeightMobile;
            margin-bottom: 0.5rem;
        }
    }
}

.g-recaptcha {
	transform: scale(0.87);
	transform-origin: 0px 0px 0px;
}

/*=====  End of Conact Form  ======*/


