/*==============================
=            Header            =
==============================*/

.header {
    width: 100%;
    height: $headerHeight;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s;
    // transform: translateY(-100%);

    &__phone {
        width: calc(100% / 3);
        height: $headerHeight;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        a {
            width: 15rem;
            height: calc(#{$headerHeight} - 0.5rem);
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom-left-radius: 3rem;
            border-bottom-right-radius: 3rem;
            border-left: 0.15rem solid $third;
            border-right: 0.15rem solid $third;
            border-bottom: 0.15rem solid $third;
            color: $third;
            padding-top: 0.5rem;
            transition: all 0.3s;
            transform: translateY(-0.5rem);

            &:hover {
                background-color: rgba($primary, 0.3);
                transform: translateY(0);
            }
        }
    }

    &__logo {
        width: calc(100% / 3);
        height: $headerHeight;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        svg {
            width: auto;
            height: 70%;
            fill: $primary;
        }

        &--mobile {
            width: calc(100% / 3);
            height: $headerHeightMobile;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: auto;
                height: 60%;
                fill: $primary;
            }
        }
    }

    &__mail {
        width: calc(100% / 3);
        height: $headerHeight;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        button {
            width: 15rem;
            height: $headerHeight;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom-left-radius: 3rem;
            border-bottom-right-radius: 3rem;
            border-top: none;
            border-left: 0.15rem solid $third;
            border-right: 0.15rem solid $third;
            border-bottom: 0.15rem solid $third;
            font-size: $font-size-base;
            color: $third;
            background-color: transparent;
            padding: 0.5rem 0 0;
            transition: all 0.3s;
            transform: translateY(-0.5rem);
            cursor: pointer;
            outline: none;

            &:hover {
                background-color: rgba($primary, 0.3);
                transform: translateY(0);
            }
        }
    }

    &--mobile {
        display: none;
        visibility: hidden;
        flex-direction: row;
        position: fixed;
        top: 0;
        border-bottom: 0.15rem solid $third;
        background-color: $secondary;
        z-index: 9999;

        a {
            width: calc(100% / 3);
            height: $headerHeightMobile;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $third;

            &:before {
                font: {
                    family: "fontawesome";
                    size: $font-size-large + 0.2;
                };
                color: $third;
            }
        }

        #contactHeaderPhoneMobile {
            &:before {
                content: "\f095";
            }
        }

        #contactHeaderMailMobile {
            &:before {
                content: "\f0e0";
            }
        }
    }

    @media (max-width: $mobile) {
        height: $headerHeightMobile;
        z-index: 9999;

        &--desktop {
            display: none;
            visibility: hidden;
        }

        &--mobile {
            display: flex;
            visibility: visible;

            a {

                span {
                    display: none;
                    visibility: hidden;
                }
            }
        }
    }
}

.is-visible {
    transform: translateY(100%);
}

/*=====  End of Header  ======*/