/*! @group Layout */
/* ========================================================================== */
.wrapper {
	min-height: 100vh;
	display: block;
	position: relative;
	// margin-bottom: calc(300px + 4rem);
	//transition: all .3s;
	animation: fadeIn 0.8s ease-in-out;
	z-index: 1;
	// display: none;

	&-error {
		width: 100%;
		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		&__number {
			width: 40%;
			min-height: 30vh;
			position: relative;

			svg {
				width: 100%;
				height: auto;
				stroke: lighten($secondary, 70%);
				stroke-width: 5;
				fill: none;
				padding: 1rem;
				transition-duration: 0.3s;
			}
		}

		&__text {
			width: 100%;
			min-height: 100vh;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			position: absolute;
			top: 0;
			left: 0;

			h2 {
				font-size: $font-size-h1;
				animation: fadeIn 3s ease-in-out;
				//animation-delay: 2s;
			}
		}

		&__button {
			width: 100%;
			min-height: 60px;
			display: flex;
			justify-content: center;
			left: 0;
			top: 15vh;
			position: absolute;

			.button-back {
				width: 60px;
				height: 60px;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				border: 1px solid $primary;
				background-color: #fff;
				overflow: hidden;
				transition: background-color 0.3s cubic-bezier(.4,0,.2,1);

				&::after {
					content: '';
					//width: 100%;
					//height: 100%;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					position: absolute;
					background-color: $primary;
					z-index: 1;
					//box-sizing: border-box;
					transition: transform 0.45s cubic-bezier(.4,0,.2,1) 75ms;
					transform: scaleX(0);
					transform-origin: center right;
				}

				svg {
					fill: none;
					stroke: $primary;
					stroke-width: 6;
					z-index: 10;
					transition: all 0.3s;
				}

				&:hover {

					svg {
						stroke: #fff;
						transform: translateX(-5px);
					}

					&::after {
						transform: scaleX(1);
						transition-delay: 0s;
					}
				}
			}
		}
	}

	&-design {
		width: 80%;
		min-height: 100vh;
		position: relative;
		padding-right: 20%;
		overflow: hidden;
	}

	$layoutInfoWidth: 50%;

	&-info {
		width: 100%;
		min-height: 100vh;
		background-color: $secondary;

		&__content {
			width: $layoutInfoWidth;
			min-height: 100vh;
			padding: 3rem ($layoutInfoWidth / 2);

			h1 {
				color: $primary;
				font-size: $font-size-h1 - 2;
			}

			h4 {
				color: $primary;
				margin-top: 2rem;
			}

			ol {
				padding-left: 1rem;
			}

			ul {
				list-style: disc;
				padding-left: 1rem;
				margin-bottom: 1rem;
			}

			p {

				span {
					color: $primary;
				}
			}
		}
	}

	&-background {
		width: 100%;
		height: 100vh;
		position: fixed;
		background: radial-gradient(circle farthest-side, $secondary 0%, #0082ca 100%);
		// background-image: url('images/clouds_back_1.jpg');
		// background-repeat: no-repeat;
		// background-size: cover;
		// background-position: center center;
		z-index: 0;
		// display: none;

		&__clouds {
			width: 100%;
			height: 100vh;
			top: 0;
			left: 0;
			position: absolute;
		}

		.cloud {
			position: absolute;

			img {
				width: 100%;
				height: auto;
				display: block;
			}

			&-down {
				width: 100%;
				min-height: 30vh;
				display: flex;
				position: fixed;
				bottom: 0;
				overflow: hidden;
				transform: translateY(50%);

				img {
					width: 100%;
					height: auto;
					display: block;
				}
			}
		}

		#cloudOne {
			top: 10vh;
			left: -27%;
		}

		#cloudTwo {
			top: -23vh;
			left: 35%;
		}

		#cloudThree {
			top: 10vh;
			right: -27%;
		}

		#cloudFour {
			top: 65vh;
			left: -27%;
		}

		#cloudFive {
			bottom: -23vh;
			left: 34%;
		}

		#cloudSix {
			top: 70vh;
			right: -27%;
		}
	}

	// @include grid-media($Medium) {
	// 	//padding: 6rem 1rem 0;
	// }

	// @include grid-media($XSmall) {

	// 	&_news {
	// 		padding-right: 0;
	// 	}
	// }

	// @media (max-width: $mobile) {

	// }

	@media (max-width: $mobile) {

		&-background {

			#cloudOne,
			#cloudThree,
			#cloudFour,
			#cloudSix {
				display: none;
				visibility: hidden;
			}

			#cloudTwo {
				width: 100%;
				top: -5vh;
				left: 50%;
				transform: translateX(-50%);
			}

			#cloudFive {
				width: 100%;
				bottom: -5vh;
				left: 50%;
				transform: translateX(-50%);
			}

			.cloud {
				opacity: 0.5;

				img {
					transform: translateX(-5%);
				}
			}
		}
	}
}

.filled {
	fill: $primary;
}
/* @end  */

// .design {

// 	&-content {
// 		width: 100%;
// 		min-height: 100vh;
// 		float: left;
// 		position: relative;

// 		&__content {
// 			position: absolute;
// 		}

// 		img {
// 			width: 100%;
// 			height: auto;
// 			display: block;
// 		}
// 	}

// 	&-sidebar {
// 		width: 20%;
// 		min-height: 100vh;
// 		position: fixed;
// 		right: 0;
// 		top: 0;


// 		&__content {
// 			width: calc(100% - 2rem);
// 			position: absolute;
// 			padding: 1rem;
// 		}
// 	}
// }

/*! @group Arrow down */
/* ========================================================================== */
.arrow-down {
	width: 1.2rem;
	height: 2.5rem;
	display: block;
	//background-color: $secondary;
	border: 0.1rem solid $third;
	border-radius: 0.75rem;
	//border-top-left-radius: 25px;
	//border-top-right-radius: 25px;
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	transform: translateX(50%);
	animation: fadeIn 1.4s ease-in-out;

	// &:hover {
	// 	//border-color: lighten(@brand-primary, 25%);
	// }

	> span {
		width: 0.5rem;
		height: 0.5rem;
		display: block;
		background-color: $third;
		position: absolute;
		animation: down 1.5s;
		animation-iteration-count: infinite;
		border-radius: 50%;
		margin-top: 0.3rem;
		margin-left: 50%;
		transform: translateX(-50%);
	}

	svg {
		margin: -3px 0 0 1px;
		animation: down 0.6s ease-out alternate;
		animation-iteration-count: infinite;

		line, polyline {
			stroke: $primary;
		}
	}

	@media (max-width: $mobile) {
		display: none;
		visibility: hidden;
	}
}

@keyframes down {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: translate(-50%, 200%);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* @end  */