/*===========================
=            Nav            =
===========================*/

.nav {
    width: 2rem;
    min-height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;

    a {
        width: 100%;

        &:before {
            content: "";
            width: 0.5rem;
            height: 0.5rem;
            display: block;
            margin-bottom: 0.5rem;
            background-color: $primary;
            border-radius: 50%;
            transition: all 0.3s;
        }

        &:hover {

            &:before {
                background-color: $third;
            }

            span {
                opacity: 1;
            }
        }

        &.active {
            color: $third;

            &:before {
                background-color: $third;
            }
        }

        span {
            opacity: 0;
            position: absolute;
            font-size: $font-size-small;
            transform: translate(-110%, -125%);
        }
    }

    @media (max-width: $mobile) {
        visibility: hidden;
        display: none;
    }
}

/*=====  End of Nav  ======*/