/*===============================
=            Section           =
===============================*/

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    // margin-bottom: 50vh;

    &-source {
        width: 100%;
        height: 130vh;
        position: relative;
        z-index: -1;
    }

    &-intro {
        height: 50vh;
    }

    &-top {
        height: 10vh;
    }

    &__title {
        position: fixed;
    }

    &__subtitle {
        position: fixed;
        text-align: center;

        &--cursive {
            position: fixed;
            text-align: center;
            top: 30vh;

            &-center {
                position: fixed;
                text-align: center;
                top: 40vh;
            }
        }
    }

    &__logo {
        width: 35%;
        height: auto;
        position: fixed;

        svg {
            width: 100%;
            height: auto;
            fill: $primary;
        }
    }

    &-text {
        display: flex;
        flex-direction: column;
        margin-bottom: 50vh;

        &__block {
            width: 50%;
            text-align: center;
            position: fixed;
            top: 45vh;

            ul {

                li {
                    margin-bottom: 1rem;
                    border-left: 0.3rem solid $third;
                    border-right: 0.3rem solid $third;
                    padding: 0 1rem;

                    // &:after {
                    //     content: "";
                    //     width: 50%;
                    //     height: 0.15rem;
                    //     display: block;
                    //     position: absolute;
                    //     margin-top: 0.5rem;
                    //     background-color: $third;
                    //     left: 50%;
                    //     transform: translateX(-50%);
                    // }

                    // &:last-child {

                    //     &:after {
                    //         display: none;
                    //         visibility: hidden;
                    //     }
                    // }

                    a {
                        color: $third;

                        &:hover {
                            color: $primary;
                        }
                    }
                }
            }
        }
    }

    &-image {
        position: relative;

        &__block {
            width: 100%;
            height: 45vh;
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;

            img {
                width: auto;
                height: 70%;
                display: block;
            }

            &--top {
                top: 0;
            }

            &--bottom {
                bottom: 0;
            }
        }
    }

    .logos {
        position: fixed;

        svg {
            width: 20vw;
            height: auto;
            fill: $third;
            stroke: none;
        }
    }

    #RoyalFlightLogo {
        top: 15vh;
        left: 42%;
    }

    #AKRussiaLogo {
        top: 27vh;
        left: 10%;
    }

    #TravelDubaiLogo {
        top: 30vh;
        right: 10%;
    }

    #OnurairLogo {
        top: 57vh;
        left: 15%;
    }

    #EllinairLogo {
        top: 70vh;
        left: 40%;
    }

    #NordStarLogo {
        top: 60vh;
        right: 7%;
    }

    &__form {
        width: 30%;
        min-height: 3rem;
    }

    &__button,
    &__phone {
        width: 16rem;
        height: $buttonHeight;
        position: fixed;
        color: $third;
        background-color: transparent;
        border-top-left-radius: ($buttonHeight / 2) + 0.5;
        border-bottom-left-radius: ($buttonHeight / 2) + 0.5;
        border-top-right-radius: ($buttonHeight / 2) + 0.5;
        border-bottom-right-radius: ($buttonHeight / 2) + 0.5;
        border: 0.15rem solid $third;
        font-size: $font-size-large;
        outline: none;
        cursor: pointer;
        z-index: 999;
        transition: all 0.3s;

        &:hover {
            background-color: rgba($primary, 0.3);
        }
    }

    &__button {
        bottom: 20%;
    }

    &__phone {
        display: flex;
        align-items: center;
        justify-content: center;
        top: 20%;
    }

    // @media (min-width: $cinema) and (max-width: $imac21) {

    //     &__logo {
    //         width: 15%;
    //     }
    // }

    @include grid-media($Small) {


        &__button,
        &__phone {
            display: none;
            visibility: hidden;
        }

        &__logo {
            width: 70%;
        }

        &-image {

            &__block {

                &--top {
                    top: $headerHeightMobile / 2;
                }

                &--bottom {
                    bottom: $headerHeightMobile / 2;
                }
            }

        }

        &__subtitle {


            &--cursive {

                &-mobile {
                    top: $headerHeightMobile * 2;
                    top: 15vh;
                }

                &-center {
                    top: 45vh;
                }
            }
        }

        &-text {


            &__block {
                width: calc(100% - 2rem);
                text-align: center;
                position: fixed;
                padding: 0 1rem;

                &--mobile {
                    top: 27vh;

                    ul {
                        width: calc(100% + 2rem);
                        margin-left: -1rem;

                        li {
                            border-left: 0.3rem solid $third;
                            border-right: 0.3rem solid $third;
                            padding: 0 0.5rem;
                            margin-bottom: 0.7rem;
                            line-height: 1;

                            &:after {
                                display: none;
                                visibility: hidden;
                            }
                        }
                    }
                }
            }
        }

        .logos {
            position: fixed;

            svg {
                width: 35vw;
                height: auto;
                fill: $third;
                stroke: none;
            }
        }

        #RoyalFlightLogo {
            top: 15vh;
            left: 35%;
        }

        #AKRussiaLogo {
            top: 27vh;
            left: 10%;
        }

        #TravelDubaiLogo {
            top: 35vh;
            right: 10%;
        }

        #OnurairLogo {
            top: 60vh;
            left: 10%;
        }

        #EllinairLogo {
            top: 80vh;
            left: 35%;
        }

        #NordStarLogo {
            top: 70vh;
            right: 10%;
        }
    }
}

/*=====  End of Section  ======*/

