// @import url('../assets/components/ajaxform/css/lib/jquery.jgrowl.min.css');

.ajax_form {

	.error {
		// width: 100%;
		// text-align: center;
		background-color: #ff9015 !important;
	}

	// span.error {
	// 	width: 100%;
	// 	color: #d9534f;
	// }
}

// .af-message-success {
// 	background-color: #5cb85c !important;
// }

// .af-message-error {
// 	background-color: #d9534f !important;
// }

// .af-message-info {
// 	background-color: #5bc0de !important;
// }